/* Angular.UI routing fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.clearfix {
    clear: both;
}



.point {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 16pt;
    line-height: 32pt;
    color: white;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 5px solid #F1C40F;
    border-radius: 50%;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.point-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: white;
}

.node-container {
    display: inline-block;
}

.node {
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
}


.map-img {
    z-index: 0;
    top: 0px;
    left: 0px;
    position: absolute;
}


body, html, #page, .map{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#sidebar{
    background: #494949;
    height: 100%;
    padding: 5px;
}
    #sidebar .list-group-item{
        font-size: 8pt;
        padding: 4px;
    }
/* SANDBOX STYLING */
.paper-toolbar{
    background: #393939;
    height: 50px;
    padding: 8px;
}
.canvas-container {
    position: relative;
    background-color: #333;
    /*width: 100%;*/
    height: calc(100% - 50px);
    overflow: hidden;
    background: #111;
}
    .canvas-container img{
        max-width: 95%;
        max-height: 95%;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        z-index: 0;
    }
    .paper-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
      /*  max-width: 95%;
        max-height: 95%;*/
        top: 0; left: 0; bottom: 0; right: 0;
        z-index: 1;
    }



.label-sm{
    font-size: 8pt;
}

select.form-control-sm{
    display: block;
    width: 100%;
    height: 25px;
    padding: 3px 6px;
    font-size: 10px;
    line-height: 0.72857143;
}
