<div type="text/ng-template">
    <div>Content goes here</div>
    <div class="form-group">
        <label class="label-sm">Selection</label>
        <select class="form-control form-control-sm"
                ng-model="block.selectionName">
            <option ng-repeat="(name, items) in selections" 
                    ng-value="name">{{name}}</option>
        </select>


        <label class="label-sm">Trigger</label>
        <select class="form-control form-control-sm"
                ng-model="block.triggerName">
            <option ng-repeat="(name, lambda) in triggers" 
                    ng-value="name">{{name}}</option>
        </select>
        

        <label class="label-sm">Trigger Object</label>
        <select class="form-control form-control-sm"
                ng-model="block.triggerObjectName">
            <option ng-repeat="(name, items) in selections" 
                    ng-if="block.triggerName !== 'afterPrevious'"
                    ng-value="name">{{name}}</option>
            <option ng-repeat="(id, blocks) in blocks"
                    ng-if="block.triggerName === 'afterPrevious'"
                    ng-value="id">Block {{id}}</option>
        </select>


        <label class="label-sm">Behavior</label>
        <select class="form-control form-control-sm"
                ng-model="block.behaviorName">
            <option ng-repeat="(name, lambda) in behaviors" 
                    ng-value="name">{{name}}</option>
        </select>
        <br>
        <button ng-click="editBlock(block)"
                class="btn btn-sm btn-primary">
            Save Edits
        </button>
    </div>
</div>
