<h3>burst</h3>

<div ng-controller="mapController" class="map-container">
    <!-- <img src="../../img/wall_formation.JPG"
         class="img-responsive"
         ng-right-click="addPoint()"> -->
    <div class="embed-responsive embed-responsive-4by3">
        <video id="gum-local"
               class="embed-responsive-item"
               ng-src="{{videostream}}"
               ng-init="captureVideo()"
               ng-right-click="addPoint()"
               autoplay></video>
    </div>
    <div ng-repeat="point in points track by $index">
        <point ng-click="actuate(point)"
               x="{{point.x}}"
               y="{{point.y}}"></point>
    </div>
</div>
