<h3>LineFill</h3>

<div ng-controller="mapController" class="map-container">
    <div>
    <!-- <img src="../../img/wall_formation.JPG"
         class="img-responsive"
         ng-right-click="addPoint()"> -->
         <div class="embed-responsive embed-responsive-4by3">
             <video id="gum-local"
                    class="embed-responsive-item"
                    ng-src="{{videostream}}"
                    ng-init="captureVideo()"
                    ng-right-click="addPoint()"
                    autoplay></video>
         </div>
    </div>
    <div ng-repeat="point in points track by $index">
        <point ng-mouseover=""
               ng-click="addPointToQueue(point, null)"
               x="{{point.x}}"
               y="{{point.y}}"></point>
    </div>
    <div class="row">
        <div ng-bind="nodeQueue"></div>
        <button ng-click="distBehaviors.lineFill(nodeQueue, behaviors.toggle.lambda)"
                class="btn btn-default">Go</button>
    </div>
</div>
