<h3>This is the <code>Paper.js</code> Sandbox</h3>

<div ng-controller="mapController" class="map-container">
    <!-- <img src="../../img/wall_formation.JPG"
         class="img-responsive"
         ng-right-click="addPoint()"> -->
    <!--     <div class="embed-responsive embed-responsive-4by3">
        <video id="gum-local"
               class="embed-responsive-item"
               ng-src="{{videostream}}"
               ng-init="captureVideo()"
               ng-right-click="addPoint()"
               autoplay></video>
    </div> -->
    <a href="" ng-click="placeTool.activate();">Place</a>
    <a href="" ng-click="pathTool.activate();">Path</a>
    <div class="row">
        <canvas id="myCanvas" style="height:300px;"></canvas>
    </div>
    <div class="btn-group row">
        <label class="btn btn-default"
               ng-click="distBehaviors.lineFill(nodeQueue, behaviors.toggle.lambda)">Actuate</label>
        <label class="btn btn-default"
               ng-click="clearQueue(nodeQueue)">Clear Selection</label>
    </div>
</div>
