<div class="map col-xs-9">
    <div class="paper-toolbar row">
        <div class="btn-group">
            
            <a class="btn btn-sm btn-primary" ng-click="placeTool.activate();" href="">
             <span class="glyphicon glyphicon-circle-arrow-down"> </span>
                Place
            </a>
            
            <a class="btn btn-sm btn-danger" ng-click="pathTool.activate();" href="">
             <span class="glyphicon glyphicon-edit"> </span>
                Path
            </a>
            
            <a class="btn btn-sm btn-warning" ng-click="interactTool.activate();" href="">
             <span class="glyphicon glyphicon-hand-up"> </span>
                Interact
            </a>
        
        </div>
        <!-- <div class="btn-group row">
            <label class="btn btn-default"
                   ng-click="sendPoints()">Create Nodes</label>
            <label class="btn btn-danger"
                   ng-click="deletePoints()">Clear All</label>
        </div> -->
    </div>

    <div class="canvas-container row">
        <img src="../../img/wall_formation.JPG"
             class="map-img img-responsive"
             ng-right-click="">
        <canvas id="myCanvas" class="paper-canvas"></canvas>
        <!-- <div class="embed-responsive embed-responsive-4by3">
            <video id="gum-local"
                   class="embed-responsive-item"
                   ng-src="{{videostream}}"
                   ng-init="captureVideo()"
                   ng-right-click="addPoint()"
                   autoplay></video>
        </div> -->
    </div>
</div>


<div id="sidebar" class="col-xs-3">
               
    <ul class="list-group">
        <li class="list-group-item active">
            <h6 class="list-group-item-heading">Selections
               <span class="pull-right glyphicon glyphicon-refresh"></span>
            </h6>
        </li>
        <li class="list-group-item"
            ng-repeat="(name, list) in selections"
            ng-style="{ 'background-color' : selectionNameToColor(name)}"
            ng-click="selectSelection(name)">{{name}}</li>
    </ul>
    
    <ul class="list-group">
        <li class="list-group-item active">
            <h6 class="list-group-item-heading">Triggers</h6>
        </li>
         <li class="list-group-item"
                ng-repeat="(name, lambda) in triggers"]
            ng-click="">{{name}}</li>
    </ul>
    
    <ul class="list-group">
         <li class="list-group-item active">
            <h6 class="list-group-item-heading">Behaviors</h>
        </li>
         <li class="list-group-item"
                ng-repeat="(name, lambda) in behaviors"]
            ng-click="">{{name}}</li>
    </ul>   
    
    <button class="btn btn-sm btn-primary"
            popover-template="blockMenuTemplateUrl"
            popover-title="New Block"
            popover-placement="right"
            popover-trigger="click">New Block</button>
    <br>
     <br>
    <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="block in blocks"]
            ng-click="">
            <!-- <code>
                $({{block.triggerObjectName}}).{{block.triggerName}}
                ({{block.behaviorName}}({{block.selectionName}}));
            </code> -->
            [{{block.id}}]
            If {{block.triggerName}} of {{block.triggerObjectName}},
            then {{block.behaviorName}} {{block.selectionName}}
            <a href="" ng-click="blockActuate(block)">Actuate</a>
            <a href="" ng-click="blockDelete(block)">Delete</a>
        </li>
    </ul>
</div>
