<h3>This is the <code>Paper.js</code> Sandbox</h3>

<div class="map-container">
    <!-- <img src="../../img/wall_formation.JPG"
         class="img-responsive"
         ng-right-click="addPoint()"> -->
    <!--     <div class="embed-responsive embed-responsive-4by3">
        <video id="gum-local"
               class="embed-responsive-item"
               ng-src="{{videostream}}"
               ng-init="captureVideo()"
               ng-right-click="addPoint()"
               autoplay></video>
    </div> -->
    <a href="" ng-click="placeTool.activate();">Place</a>
    <a href="" ng-click="pathTool.activate();">Path</a>
    <a href="" ng-click="interactTool.activate();">Interact</a>
    <div class="row">
        <canvas id="myCanvas" style="height:300px;"></canvas>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h5>Selections</h5>
            <ul>
                <li ng-repeat="(name, list) in selections"
                    ng-click="selectSelection(name)">{{name}}</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>Triggers</h5>
            <ul>
                <li ng-repeat="(name, lambda) in triggers"]
                    ng-click="">{{name}}</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5>Behaviors</h5>
            <ul>
                <li ng-repeat="(name, lambda) in behaviors"]
                    ng-click="">{{name}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Blocks</h5>
            <button class="btn btn-default"
                    popover-template="blockMenuTemplateUrl"
                    popover-title="New Block"
                    popover-placement="right"
                    popover-trigger="click">New Block</button>
            <ul>
                <li ng-repeat="block in blocks"]
                    ng-click="">
                    <code>
                        $({{block.triggerObjectName}}).{{block.triggerName}}
                        ({{block.behaviorName}}({{block.selectionName}}));
                    </code>
                    <a href="" ng-click="blockActuate(block)">Actuate</a>
                    <a href="" ng-click="blockDelete(block)">Delete</a>
                </li>
            </ul>
        </div>
    </div>
</div>
